<div class="row mb-3">
  <div class="col-md-12">
    <h1 class="display-4">
      Stays
    </h1>
  </div>
</div>


<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <div class="card">
      <h1 class="card-header h4 d-flex align-items-center justify-content-between">
        Past trips
      </h1>

      <div class="list-group list-group-flush">
        <%= render collection: @stays.where(check_out: ..Date.current), partial: "list_item", as: :stay %>
      </div>
      <div class="card-footer d-flex justify-content-center">
        <%= paginate @stays.where(check_out: ..Date.current), theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <div class="card">
      <h1 class="card-header h4 d-flex align-items-center justify-content-between">
        Upcoming trips
      </h1>

      <div class="list-group list-group-flush">
        <%= render collection: @stays.where(check_out: Date.current..), partial: "list_item", as: :stay %>
      </div>
      <div class="card-footer d-flex justify-content-center">
        <%= paginate @stays.where(check_out: Date.current..), theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </div>
</div>
