<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    User User Rooms
  </div>

  <ul class="list-group list-group-flush">
    <% @user.user_user_rooms.each do |room| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/rooms/<%= room.id %>">
          <%= room %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
