<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Stays

    <a data-toggle="collapse" href="#user_stays_new_form">
      Add stay
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.stays.each do |stay| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to stay, stay %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_stays_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "users/user_stays_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
