<div class="row mb-3">
  <div class="col-md-12">
    <h1 class="display-4">
      You've liked <%= @rooms.count %> rooms
    </h1>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-7">
    <div class="card">
      <div class="list-group list-group-flush">
        <%= render collection: @rooms, partial: "index_card", as: :room %>
        <%#= render collection: @rooms, partial: "list_item", as: :room %>
      </div>
      <div class="card-footer d-flex justify-content-center">
        <%= paginate @rooms, theme: 'twitter-bootstrap-4' %>
      </div>

    </div>
  </div>
  <div class="col-md-5">
    <%= render partial: "rooms/all_photos_map" %>
  </div>
</div>
